{% extends 'base.html.twig' %}

{% block title %}bienvenue dans les biens !{% endblock %}

{% block body %}
    <style>
        
            .accueil{
                margin-bottom:40px;
                padding-bottom: 20px;
                border-bottom: 1px dotted #ccc;
            }
        </style>
    <div class="accueil"> <h3>Bienvenue a l'agence qui le vaut bien ! </h3> 
        visitez en ligne les biens immobiliers que nous vons a disposition. n'hésitez pas a prendre rendez-vous avec un agent de l'agence par le formulaire de chaque bien immobiliers .  </div>
        
            

   {% if formSearch  is defined %}  
        
        <style>
            .ui.form {
                display:flex;
                align-items: end;
                font-size: 100%;
            }
            .ui.form > div  {
         margin: 3px;
            }
            .extra.content {
                display:flex;
                flex-direction: column;
            }
            
            .ui.cards{
             margin-top:0px 
            }

        </style>

        <div>
            {{ form(formSearch)}}
            </div>

    {% endif %}

    {# route /biens ou /accueil #}
    {% if biens is defined %} 
        {# {{ dump(biens) }} #}
        <div class="ui cards" >
            {% for bien in biens %}
                
                    <div class="card">

                        <div class="image">
                             <img src="{{ asset('upload/'~ bien.photo) }}" />
                        </div>

                        <div class="content">
                            <div class="header">{{bien.titre}}</div>
                            <div class="meta">
                                <span >{{bien.type}}</span>à
                                <span>{{bien.typeTransac}}</span>
                            </div>
                            <div class="description">
                                {{bien.description}}
                            </div>
                        </div>

                        <div class="extra content">
                            <span class="right floated">
                                {% if bien.dateConstruction is defined and bien.dateConstruction is not null %}
                                  {%  set date = bien.dateConstruction %}
                                construction : {{date.format('d/m/Y')}}
                                {# |format('Y-m-d H:i:s') #}
                                {% endif %}
                            </span>
                            <span class="right floated">
                                <i class="user icon"></i>
                                agent : {{bien.agent.nom}}
                            </span>
                            <span>
                                
                                prix :  {{bien.prix}} Euros
                            </span>
                            <span>
                                {# <i class="user icon"></i> #}
                                surface :  {{bien.surface}} m²
                            </span>
                            <span>
                                {# <i class="user icon"></i> #}
                                nombre de pièces :  {{bien.floor}}
                            </span>
                        </div>
                        <a href={{path('biens_single', {id:bien.id}  )}}>
                            <div class="ui bottom attached button">
                                <i class="add icon"></i>
                                en savoir plus 
                            </div>
                        </a>
                    </div>

                
             {% endfor %}
         </div>  

          

    {% endif %}


    {# route /bien/id #}
    {% if bien  is defined  %}

        <style>
            div{
                box-sizing: border-box;
            }
            .ui.container{

                display:flex;
                flex-wrap: wrap;
            }
            .ui.container > div{

            margin: 15px;
                
            }
            .extra.content {
                display:flex;
                flex-direction: column;
            }
            .hidden{

            visibility: hidden;
        }
        .ui.card, .ui.cards>.card {
            width: 100%;
        }
        .infos{

            padding: 20px;
            border-top: 1px dotted #ccc;
            background-color: #f8f8f8;

        }
        .infos > div{

          display: flex;
          flex-wrap: wrap;
          align-items: baseline;
        }
        h4{
            border-bottom: 1px dotted #ccc ;
            margin: 10px 0px;
        }
        img{
            width: 100%;
        }

        </style>

        <div style="width: 59%; ">

            <div class="ui cards">
                    
                        <div class="card">
    
                            <div class="image">
                                 <img src="{{asset('upload/'~ bien.photo)}}"/>
                            </div>
    
                            <div class="content">
                                <div class="header">{{bien.titre}}</div>
                                <div class="meta">
                                    <span >{{bien.type}}</span> à
                                    <span>{{bien.typeTransac}}</span>
                                </div>
                                <div class="description">
                                    {{bien.description}}
                                </div>
                            </div>
    
                            <div class="extra content">
                                <span class="right floated">
                                    {% if bien.dateConstruction is defined and bien.dateConstruction is not null %}
                                        {%  set date = bien.dateConstruction %}
                                      construction : {{date.format('d/m/Y')}}
                                        {% endif %}
                                </span>
                                <span class="right floated">
                                    <i class="user icon"></i>
                                    agent : {{bien.agent.nom}}
                                </span>
                                <span>
                                    
                                    prix :  {{bien.prix}} Euros
                                </span>
                                <span>
                                    {# <i class="user icon"></i> #}
                                    surface :  {{bien.surface}} m²
                                </span>
                                <span>
                                    {# <i class="user icon"></i> #}
                                    nombre de pièces :  {{bien.floor}}
                                </span>
                            </div>
    
                        </div>
                    

             </div>  

        </div>
  
        <div style="width: 27%">
           
            {{form_start(formMail, {'action': path('mail', {id:bien.id})} ) }}
            {# {{form_rest(formMail)}} #}
                {{form_row(formMail.prenom)}} 
                {{form_row(formMail.nom)}} 
                {{form_row(formMail.email)}} 
                {{form_row(formMail.rdv )}} 

                {{form_row(formMail.leBien, {'value':bien.id})}} 
                {{form_row(formMail.agent, {'value':bien.agent.id})}} 
               

            {{form_end(formMail)}}
        </div>
        
        <div class="infos" style="width: 100%">
            <div>
              <h4 style="width: 100%;"> Description </h4> <div style="width: 100%;">{{bien.description}} </div><br><br>
              <h4> nombre de chambre  </h4> {{bien.room}}
              <h4> nombre de pièce </h4> {{bien.floor}}
              <h4> Prix </h4> {{bien.prix}} Euros <br>
              <h4> Type de bien </h4> {{bien.type}} à {{bien.typeTransac}}
              <h4> etage </h4> {{bien.etage}}
              <h4> surface </h4> {{bien.surfaceTerrain}} m²
              <h4 style="width: 100%;"> Adresse </h4> {{bien.adresse}}
              <h4 style="width: 100%;" > Options </h4> 
              {% if bien.options is not empty %}
                <ul>
                    {% for item in bien.options %}
                   <li> option {% set i = loop.index %} {{i}}  {{item}} </li>
                    {% endfor %}
                </ul>
                {% else %} <h3 class="ui message"> il n'y a pas d'options pour ce bien ! </h3><br>
              {% endif %}

              <h4  style="width: 100%;"> Photos </h4> 
                {% if bien.photos is not empty %}
                    {% for item in bien.photos %}
                        <div class="photo"> 
                            photo n°  {{item.id}} <img src="{{asset('upload/'~ item.nom)}}"/> {{item.description}} 
                        </div>
                    {% endfor %}
                {% else %} <h3 class="ui message"> il n'y a pas de photos pour ce bien ! </h3><br>
              {% endif %}
            </div>
        </div>

    {% endif %}

{% endblock %}
